body{
    font-family: sans-serif;
    background: #eee;
}

a,h1,h2{
    color: #337ba8;
}

h1,h2{
    font-family: 'Georgia',serif;
    margin: 0px;
}

h1{
    border-bottom: 2px solid #eee;
	font-weight:bold;
}

h2{
    font-size: 1.2em;
}

.page{
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.entries{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.entries li{
    margin: 0.8em,1.2em;
}

.metanav{
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.3em;
    background: #fafafa;
    font-family: 'Georgia',serif;
}